.editor__btn-close {
  height: 40px;
  width: 40px;
  background-image: url(editor__btn-close.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  transform: translate(0%, 0%);
  filter: invert();
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

@media screen and (min-width:510px) {
  .editor__btn-close {
    transform: translate(100%, -100%) translate(-3px, +2px);
    filter: none;
  }

}
