@import url(__avatar-box/profile__avatar-box.css);
@import url(__avatar/profile__avatar.css);
@import url(__btn-set-avatar/profile__btn-set-avatar.css);
@import url(__info/profile__info.css);
@import url(__display-name-wrapper/profile__display-name-wrapper.css);
@import url(__display-name/profile__display-name.css);
@import url(__job/profile__job.css);
@import url(__btn-edit/profile__btn-edit.css);
@import url(__btn-add/profile___btn-add.css);

.profile {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width:882px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
