
.card__btn-like {
  outline: none;
  display: block;
  background-color: inherit;
  border: 0;
  background-image: url(card__btn-like_empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 22px;
  padding: 0;
  margin: 0 auto;
}

.card__btn-like:hover {
  cursor: pointer;
}
